@charset "UTF-8";
/* CSS Document
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Zeyada|Amatic+SC' rel='stylesheet' type='text/css'>

 */
.page-wrapper {
	width:800px;
	height: 2000px;
	margin: 0 auto;
	padding:0 13px;
	position:relative;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	color:#454545;
	text-align:left;
}


#banner {
	  margin-left: -40%;
	 margin-right: 40%; 
}
	

.headbanner {
	 margin-top: 7%;
	 margin-bottom: 10%;
	 margin-left: -14%;
	 margin-right: 20%; 
	 padding: 10px;
	 
 } 

										/*NAV*/
	nav ul { 
	display:inline-block;
	 list-style-type: none;
	 margin-left: 60%;
	 margin-right: -60%;
	 margin-bottom: 19%;
	 margin-top: -19%;
	 padding: 0px;
}

nav ul li { 
	 float: left;
	 margin-right: 2em;
}

nav ul li a { 
	 text-decoration: none; /* no underline */
	 color: #9BAAAD; /* dark pink */
	 border: 1px double white ; /* light green*/
	 border-top-left-radius: .25em .25em; /* rounded corner! */
	 border-top-right-radius: .25em .25em; /* another rounded corner! */ 
}	

nav ul li a:hover, nav ul li a:focus { 
	 color: #3D4344; 
	 font-weight: bold;
	 opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	 }
	 							/*ABOUT*/

#aboutheading {
	 font-size: 2em;
	 font-family: "basic title font";
	 color: black; 
	 margin-top: -6%;
	 margin-bottom: 11%;
	 margin-left: -30%;
	 margin-right: 20%;
	 position: absolute;
	 }
	 
#me {
	 
	 margin-top: -4%;
	 margin-bottom: 2%;
	 margin-left: -39%;
	 margin-right: 40%;
	 list-style-position: inside;
	 width: 8%;
     float: left;
	 height: 10em;
	 text-align: center;
	 padding: 10px;
	 position: absolute;
	 
}

#about {
	 float:left;
	 margin-top:130%;
	 margin-bottom: 10%;
	 margin-left: -30%;
	 margin-right: 15%;
	 font-size: 2em;
	 font-family: 'Shadows Into Light', cursive;
	 color: black; 
	 width: 150%;
	 height: 10em;
	 text-align: center;
     padding: 20px;
	 }
	 
	 						/* ART */
							
.artheading {
	 font-size: 2em;
	 font-family: "basic title font";
	 color: black; 
	 margin-top: -6%;
	 margin-bottom: 11%;
	 margin-left: -30%;
	 margin-right: 20%;
	 position: absolute;
}
	 
#art {
	 float:left;
	 margin-top: -5%;
	 margin-bottom: -20%;
	 margin-left: -35%;
	 margin-right: 15%;
	 font-size: 2em;
	 font-family: 'Shadows Into Light', cursive;
	 color: black; 
	 width: 170%;
	 height: 10em;
	 text-align: left;
     padding: 20px;
	 
	}
     

#paintings {
	font-size: 3em;
     font-weight: bold;
	 font-family: 'Shadows Into Light', cursive;
	 color: black; 
	 margin-top: -12%;
	 margin-bottom: 5%;
	 margin-left: 35%;
	 margin-right: 20%;
	
	 


}

#art1 {
	float:left;
	margin: auto;
	margin-top: 16%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Shadows Into Light';
	font-size:1.5em;
	font-weight: bold;
}

#art2 {
	float:left;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Shadows Into Light';
	font-size:1.5em;
	font-weight: bold;
}

											/*ALGALS   SHOP*/
											
	#algalsheading {  font-size: 2em;
	 font-family: "basic title font";
	 color: black; 
	 margin-top: -13%;
	 margin-bottom: 0%;
	 margin-left: -30%;
	 margin-right: 20%;
	 position: absolute;
	 }
	 
	 .algallink {
		 float: left;
		 margin-top: 10%;
		 margin-bottom:0%;
		 margin-left: 26%;
		 margin-right:6%;
		 font-family: 'Shadows Into Light', cursive;
		 font-size: 2em;
		 font-color: #000000;
		 
	 }
.algallink a:hover {
	 color: #C3E6F8; 
	 font-weight: lighter;
	 }								
	
	#images{
		align-content:center;
		margin-top: -9%;
		height: 400px;
		margin-left: -39%;
	}
	
	td {
		padding:12px;
		margin-top: 30%;
		margin-bottom: 10%;
		
	}
	td a:hover {
		color: #3D4344; 
	 font-weight: bold;
	 opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	}
	
													/*SERVICES*/
													
	#servicesheading { font-size: 2em;
	 font-family: "basic title font";
	 color: black; 
	 margin-top: -6%;
	 margin-bottom: 0%;
	 margin-left: -30%;
	 margin-right: 20%;
	 position: absolute;
	 }
	
	#palms {
		 float: left;
		 margin-top:15%;
		 margin-bottom:0%;
		 margin-left: 6%;
		 margin-right:6%;
		 opacity: 0.8;
		 filter: alpha(opacity=40); /* For IE8 and earlier */
	}
														
													 /*CONTACT ME*/
	 
#contactheading {
	 font-size: 2em;
	 font-family: "basic title font";
	 color: black; 
	 margin-top: -13%;
	 margin-bottom: 0%;
	 margin-left: -30%;
	 margin-right: 20%;
	 position: absolute;
	 }

	 
#contact {
	 margin-top: -8%;
	 margin-bottom: 2%;
	 margin-left: -30%;
	 margin-right: 40%;
	 font-size: 2em;
     font-family: 'Shadows Into Light', cursive;
	 color: black; 
	 width: 50%;
     float: left;
	 height: 8em;
	 text-align: left;
     padding: 5px;
	 position: absolute;
}

 															/* DROP DOWN DIV*/
/*.aboutnav	 {
	font-color: #000000;
}
												
div {background-color: #ffffff;
border: none;
}
div a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 5px;
    display:inline-block;
}
 a:hover{
	font-color: #000000;
}
ul {
  display: inline;
  margin:0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background-color: #FFFFFF;
font-color:#000000;
font-weight: bold;
}
ul li:hover ul {
	font-color: #000000;
	font-weight: bold;
	
	}
ul li ul {
  position: absolute;
  width: 90px;
  display: none;
}
ul li ul li { 
  font-display:bold; 
   
}
ul li ul li a {font-display: bold} 
ul li ul li:hover {font-display:bold;
font-color:black;

}											
												
.navbar a:hover{
	border: none;
	font-color: #000000;
	
	
}

.dropdown-toggle a:hover, .dropdown-toggle a:focus {
	background-color: #ffffff;
	font-color: #000000;
}

.dropdown-menu {
	background-color: #ffffff;
}

a:link, a:visited {
    background-color: #ffffff;
	font-color: #000000;
    color: black;
    padding: 14px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
												
*/											
												
												
												
												
												
												
												
	